<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>COVID Tracker application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body>
<div class="container">
<h1>
    Covid Tracker Application
</h1>
<p>
    This application lists the current number of confirmed covid cases reported around the world.
</p>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
    <p class="lead">Total cases</p>
</div>

<table class="table">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total cases</th>
        <th>Changes since last day</th>
    </tr>
    <tr th:each="location : ${locationStats}">
        <td th:text="${location.state}"></td>
        <td th:text="${location.country}"></td>
        <td th:text="${location.latestTotalCases}">0</td>
        <td th:text="${location.diffFrompreviousDay}">0</td>
    </tr>
</table>
</div>

</body>

</html>